.crd{
    background-color: transparent;
    border: 1px solid #303030;
    color:white;
    border-radius: 5px;
   }

   .searchButton{
       background-color: transparent;
       border: none;
       color: red;
        position: absolute;
        display: inline-block;
        margin-top: 1%;
        z-index: 9999;
        font-weight: 600;
        font-size: 1.3rem;

   }