
 .cardbdy{
    background-color: transparent;
    color:white;
}
.cbody{
    color: #757575;
    padding: 1rem;
}
.header{
    padding: 0;
}
.checkbox{
    margin-top: 0.6rem;
}

    .filterCard{
        border: 1px solid grey !important;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
    }


@media (min-width: 767px) and (max-width:992px) { 
    .filterCard{
        width: 32%;
        float: left;
        margin-right: 0.5rem;
    }
 }
