.sidebarcontainer {
    position: fixed;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    width: 20%;
  }

  .sidebarlogo {
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    background-color: transparent;
    color: white;
  }